@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  scroll-behavior: smooth;
  @apply bg-body;
}

.secondary-title {
  @apply text-3xl font-bold text-secondary;
}

.secondary-title::before {
  content: "";
  @apply block w-40 h-2 bg-blue-300 rounded-r mb-2 border border-blue-600;
}

.section-paragraph {
  @apply text-secondary my-6 w-full max-w-3xl;
}

.badge {
  @apply px-4 py-2 text-sm bg-badge;
}

.flex-wrap {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px; /* アイコン間のスペース */
}

.lg\\:justify-start {
    justify-content: flex-start;
}
